* {
  font-family: JetBrainsMono Nerd Font, monospace;
  font-size: 10px;
  color: #cdd6f4;
  border: none;
  box-shadow: none;
  padding: 0;
  margin: 0;
}

window#waybar {
  background-color: rgba(0,0,0,0.1);
  color: #ffffff;
  border: none;
  margin: 0;
}

/* === GROUP STYLING === */
#clock,
#pulseaudio,
#bluetooth,
#network,
#battery,
#custom-power,
#backlight,
#custom-launcher,
#workspaces {
  background-color: rgba(0, 0, 0, 0.0);
  margin: 4px 6px;
  border: 1px solid;
  border-radius: 15px;
  padding: 2px 12px;
  margin: 8px 1px;
}

/* === CLOCK === */
#clock {
  font-weight: bold;
  border-color: #94e2d5;
}

/* === WORKSPACES === */
#workspaces button {
  padding: 0 8px;
  background: transparent;
  color: #cdd6f4;
  border-radius: 16px;
  transition: background 0.3s ease;
}

#workspaces button.active {
  background: #89b4fa;
  color: #1e1e2e;
  padding-right: 12px;
  padding-left: 8px;
}

#workspaces button.urgent {
  background: #f38ba8;
  color: #1e1e2e;
}

#workspaces button:hover {
  background: #585b70;
}

/* === LAUNCHER === */
#custom-launcher {
  font-size: 16px;
  padding-left: 8px;
  padding-right: 12px;
  padding-top: 2px;
  padding-bottom: 2px;
  color: #ff073a;
}

/* === BACKLIGHT === */
#backlight {
  color: #f9e2af;
  transition: background-color 0.2s ease;
}

#backlight:hover {
    background-color: #f9e2af;
    color: #000000;
}

/* === AUDIO === */
#pulseaudio {
  color: #fab387;
  transition: background-color 0.2s ease;
}

#pulseaudio:hover {
    background-color: #fab387;
    color: #000000;
}

/* === BLUETOOTH === */
#bluetooth {
  color: #b4befe;
}

/* === NETWORK === */
#network {
  color: #94e2d5;
}

/* === BATTERY === */
#battery {
  color: #a6e3a1;
}

/* === POWER MENU === */
#custom-power {
  color: #ff073a;
  padding-top: 2px;
  padding-right: 8px;
  padding-left: 12px;
  padding-bottom: 2px;
}
