* {
	font-family: JetBrainsMoto;
	font-size: 13px;
	min-height: 0;
	color: white;
}

window#waybar {
	background-color: transparent;
}

#workspaces {
	margin-top: 3px;
	margin-bottom: 2px;
	margin-right: 10px;
	margin-left: 25px;
}

#workspaces button{
	border-radius: 15px;
	margin-right: 10px;
	padding: 1px 10px;
	font-weight: bolder;
	background-color: #181818;
}

#tray,
#memory,
#pluseaudio,
#battery,
#clock,
#network {
	padding: 0 10px;
}
